<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Tablero</h1>
    <div class="tablero">
        <div class="fila-casillas">
            <div class="casilla-blanco-der"></div>
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanco-der"></div>
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanco-der"></div>
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanco-der"></div>
            <div class="casilla-negra-izq"></div>
        </div>
        <div class="fila-casilla">
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-izq"></div>
        </div>
    </div>
    <div class="boton">
        <button class="button.btn.btn-primary.btn-lg">boton</button>
    </div>
</body>
<footer>Creado por Fermin Gutierrez -06/06/2019</footer>
</html>